


<style type="text/css">
  #normal{
      width: 500px;
      height: 30px;
  }
</style>

<div style="padding-left: 380px;padding-top: 170px">
  <h1 style="text-shadow:5px 5px 10px red;">LearnArea.com</h1>
  <form class="form-search" action="/searching/searching">
    <div class="input-append">
      <input type="text" class="span2 search-query" id="normal" name="search">
      <button type="submit" class="btn">Search</button><br>
      <label class="checkbox inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1"> Tutoring
      </label>
      <label class="checkbox inline">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> Online
      </label>
      <label class="checkbox inline">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> Location
      </label>
    </div>

  </form>
    </div>